.button, .button:hover {
    background-color: white;
    border: 2px solid #5C8EB1!important;
    color: #5C8EB1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    }
    
    .on, .on:hover{
    background-color: #5C8EB1!important; /* Green */
    color: white!important;
    font-weight:bold;
    border: 2px solid #5C8EB1!important; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    }
    
    h2{border-bottom: 1px solid #999999;    width: auto;    }
    h2.dashboard-title{border:none;}
    td img{min-width: 534px!important;}